body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-size: 15px;
}

button, input, select {
	font: inherit;
	margin-top: 1em;
	min-width: 100px;
	padding: 4px;
}
button {
	padding-left: 2em;
	padding-right: 2em;
}

h1 {
	margin-bottom: -.5em;
}
h1, h2 {
	text-align: center;
}

label {
	display: block;
	margin: 1em 1em 0 0;
	white-space: nowrap;
}

table {
	border-collapse: collapse;
}
table th,
table td {
	border: 1px solid #888;
	padding: 6px;
}
table th {
	background: #ddd;
}
table td {
	position: relative;
	text-align: right;
}

#tableBands {
	display: block;
	height: calc( 100vh - 40px );
	overflow-y: auto;
}
#tableBands tr:nth-child(odd),
.odd {
	background: #f5f5f5;
}

#tableFilters {
	max-width: 700px;
	table-layout: fixed;
	width: 100%;
}
#tableFilters td {
	text-align: right;
}
#tableFilters tbody tr:hover {
	background: #e0ffe0;
}

.absolute-center {
	left: 50%;
	transform: translateX(-50%);
}

.bar {
	background: #0c04;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
}

.bullet {
	border-radius: 10px;
	display: inline-block;
	padding: 6px 12px;
}
.bullet.round {
	margin-right: 6px;
	padding: 6px;
}
input:not(:checked) + .bullet {
	opacity: .2;
}

.center {
	text-align: center;
}

.clamped {
	color: #e00;
}

.container {
	display: flex;
	justify-content: space-around;
	margin: 20px;
	padding-bottom: 80px;
}

.credits {
	background: #fffc;
	backdrop-filter: blur(3px);
	bottom: 0;
	font-size: .8rem;
	line-height: 1.6;
	margin: 0;
	padding: 2em;
	position: fixed;
	text-align: center;
	width: 45vw;
}

.even {
	background: #fff;
}

#legend {
	margin: 2em 0 1em;
	text-align: center;
}

#legend label {
	cursor: pointer;
	display: inline;
	margin-right: 1.5em;
}
#legend label:last-child {
	margin-right: 0;
}
#legend input {
	display: none;
}

.flex {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.grid {
	align-items: baseline;
	display: grid;
}
.grid-3-cols {
	grid-template-columns: repeat(3, 1fr);
}
.grid-6-cols {
	grid-template-columns: repeat(6, 1fr);
}
.colspan-2 {
	grid-column: span 2;
}
.self-right {
	justify-self: right;
}

.info {
	border-bottom: 1px dotted #080;
	color: inherit;
	text-decoration: none;
	position: relative;
}
.info:hover::before {
	background: #fffff0;
	border: 1px solid #ccc;
	border-radius: 10px;
	content: attr( data-text );
	font-size: .8em;
	font-weight: normal;
	padding: 6px;
	position: absolute;
	text-align: center;
	top: 2em;
	white-space: normal;
	width: 200px;
	z-index: 2;
}

.justify-center {
	justify-items: center;
}

th .info {
	position: static;
}
th .info:hover::before {
	top: 85px;
}

.onekhz {
	background: #f0f0f0;
}

.note {
	font-size: .85em;
	margin-bottom: 2em;
	text-align: center;
}
.note.margin-top {
	margin-bottom: 0;
	margin-top: 2em;
}
.note > div {
	margin: 0 auto;
	text-align: left;
	width: 85%;
}
.note table {
	margin: 0 auto;
}
.note table th, .note table td {
	border-left-width: 0;
	border-right-width: 0;
	padding: 4px 20px;
	text-align: left;
}

.settings button,
.settings input,
.settings label,
.settings select {
	width: 100%;
}

.summary {
	font-size: 1.25rem;
	line-height: 2;
	margin-top: 2em;
}
