name: Deploy site

env:
  USERNAME: ${{ github.actor }}
  ADDRESS_SUFFIX: users.noreply.github.com

on:
  push:
    branches:
      - master

jobs:
  deploy-app:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Create and edit files
        run: |
          echo "audiomotion.dev" > CNAME
          echo -e "include: [\".well-known\"]\n" > _config.yml
          mkdir .well-known
          echo -e "This is a Brave Creators publisher verification file.\n\nDomain: audiomotion.dev\nToken: a91d5cb66865661e9009a87d50ddab91363600ce53d32ecceccfe62af9c6a57a\n" > .well-known/brave-rewards-verification.txt
      - name: Run shell script
        run: |
          git config user.name "$USERNAME"
          git config user.email "$USERNAME@$ADDRESS_SUFFIX"
          git add .
          git commit -m "deploy site"
          git push -f origin master:gh-pages
